# compiled output
/dist
/node_modules

src/schemaFile.graphql
src/graphqlFile.ts

src/schema.graphql

src/graphql.ts

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

src/schema.gql

# OS
.DS_Store

.env

# Tests
/coverage
/.nyc_output

#npm config
# .npmrc
